{% extends "base.html" %}
{% block content %}
    <div class="container page-form">
    <form id="login-form" action="/auth/register" method="post"> <!--action="/login"을 하면 /login페이지로 데이터를 보내준다-->
        <div class="form-group">
            <label for="email">Email</label>
            <!-- Too set label for is same as input type of id -->
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>

            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
</div>
{% endblock %}

